{% load static %}
{% extends 'frontend/includes/app.html' %}
{% block  %}
        <!-- Breadcrumbs -->
        <section class="breadcrumbs-custom-inset">
            <div class="breadcrumbs-custom context-dark bg-overlay-60">
                <div class="container">
                    <h2 class="breadcrumbs-custom-title">Rooms</h2>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Rooms</li>
                    </ul>
                </div>
                <div class="box-position" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
            </div>
        </section>
        <!-- Section Pricing-->
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row row-30 row-lg-50">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Services Modern-->
                        <article class="services-modern"><a class="services-modern-figure" href="single-room.html"><img src="images/rooms-1-270x415.jpg" alt="" width="270" height="415"/></a>
                            <div class="services-modern-content">
                                <h5 class="services-modern-title"><a href="single-room.html">Double Room</a></h5>
                                <div class="services-modern-price-wrap"><span class="services-modern-price heading-5">$380</span><span class="services-modern-price-divider heading-5">/</span><span class="services-modern-date heading-6">night</span></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Services Modern-->
                        <article class="services-modern"><a class="services-modern-figure" href="single-room.html"><img src="images/rooms-2-270x415.jpg" alt="" width="270" height="415"/></a>
                            <div class="services-modern-content">
                                <h5 class="services-modern-title"><a href="single-room.html">Executive room</a></h5>
                                <div class="services-modern-price-wrap"><span class="services-modern-price heading-5">$450</span><span class="services-modern-price-divider heading-5">/</span><span class="services-modern-date heading-6">night</span></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Services Modern-->
                        <article class="services-modern"><a class="services-modern-figure" href="single-room.html"><img src="images/rooms-3-270x415.jpg" alt="" width="270" height="415"/></a>
                            <div class="services-modern-content">
                                <h5 class="services-modern-title"><a href="single-room.html">Hollywood Twin Room</a></h5>
                                <div class="services-modern-price-wrap"><span class="services-modern-price heading-5">$350</span><span class="services-modern-price-divider heading-5">/</span><span class="services-modern-date heading-6">night</span></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Services Modern-->
                        <article class="services-modern"><a class="services-modern-figure" href="single-room.html"><img src="images/rooms-4-270x415.jpg" alt="" width="270" height="415"/></a>
                            <div class="services-modern-content">
                                <h5 class="services-modern-title"><a href="single-room.html">single Room</a></h5>
                                <div class="services-modern-price-wrap"><span class="services-modern-price heading-5">$200</span><span class="services-modern-price-divider heading-5">/</span><span class="services-modern-date heading-6">night</span></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Services Modern-->
                        <article class="services-modern"><a class="services-modern-figure" href="single-room.html"><img src="images/rooms-5-270x415.jpg" alt="" width="270" height="415"/></a>
                            <div class="services-modern-content">
                                <h5 class="services-modern-title"><a href="single-room.html">Family Room</a></h5>
                                <div class="services-modern-price-wrap"><span class="services-modern-price heading-5">$430</span><span class="services-modern-price-divider heading-5">/</span><span class="services-modern-date heading-6">night</span></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Services Modern-->
                        <article class="services-modern"><a class="services-modern-figure" href="single-room.html"><img src="images/rooms-6-270x415.jpg" alt="" width="270" height="415"/></a>
                            <div class="services-modern-content">
                                <h5 class="services-modern-title"><a href="single-room.html">King-Sized room</a></h5>
                                <div class="services-modern-price-wrap"><span class="services-modern-price heading-5">$490</span><span class="services-modern-price-divider heading-5">/</span><span class="services-modern-date heading-6">night</span></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Services Modern-->
                        <article class="services-modern"><a class="services-modern-figure" href="single-room.html"><img src="images/rooms-7-270x415.jpg" alt="" width="270" height="415"/></a>
                            <div class="services-modern-content">
                                <h5 class="services-modern-title"><a href="single-room.html">Twin room</a></h5>
                                <div class="services-modern-price-wrap"><span class="services-modern-price heading-5">$250</span><span class="services-modern-price-divider heading-5">/</span><span class="services-modern-date heading-6">night</span></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Services Modern-->
                        <article class="services-modern"><a class="services-modern-figure" href="single-room.html"><img src="images/rooms-8-270x415.jpg" alt="" width="270" height="415"/></a>
                            <div class="services-modern-content">
                                <h5 class="services-modern-title"><a href="single-room.html">VIP Suite</a></h5>
                                <div class="services-modern-price-wrap"><span class="services-modern-price heading-5">$520</span><span class="services-modern-price-divider heading-5">/</span><span class="services-modern-date heading-6">night</span></div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
{% endblock  %}